

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545591874736358560.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-545591874736358560.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545591874736358560.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-545591874736358560.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545591874736358560.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545591874736358560.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545591874736358560.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545591874736358560.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545591874736358560.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545591874736358560.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545591874736358560.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-545591874736358560.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545591874736358560.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545591874736358560.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545591874736358560.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545591874736358560.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545591874736358560.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-545591874736358560.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545591874736358560.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545591874736358560.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545591874736358560.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545591874736358560.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545591874736358560.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545591874736358560.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-545591874736358560.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545591874736358560.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545591874736358560.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545591874736358560.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545591874736358560.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545591874736358560.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-545591874736358560.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545591874736358560.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545591874736358560.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545591874736358560.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545591874736358560.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545591874736358560.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545591874736358560.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545591874736358560.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545591874736358560.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545591874736358560.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-545591874736358560.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545591874736358560.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545591874736358560.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545591874736358560.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545591874736358560.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-545591874736358560.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545591874736358560.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-545591874736358560.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545591874736358560.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545591874736358560.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-545591874736358560.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545591874736358560.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545591874736358560.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545591874736358560.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545591874736358560.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-545591874736358560.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-545591874736358560.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545591874736358560.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545591874736358560.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-545591874736358560.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545591874736358560.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545591874736358560.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-545591874736358560.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-545591874736358560.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545591874736358560.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545591874736358560 .gp-relative{position:relative}.gps-545591874736358560 .gp-z-1{z-index:1}.gps-545591874736358560 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545591874736358560 .gp-mb-0{margin-bottom:0}.gps-545591874736358560 .gp-flex{display:flex}.gps-545591874736358560 .gp-inline-flex{display:inline-flex}.gps-545591874736358560 .gp-grid{display:grid}.gps-545591874736358560 .gp-contents{display:contents}.gps-545591874736358560 .\!gp-hidden{display:none!important}.gps-545591874736358560 .gp-hidden{display:none}.gps-545591874736358560 .gp-h-full{height:100%}.gps-545591874736358560 .gp-w-full{width:100%}.gps-545591874736358560 .gp-max-w-full{max-width:100%}.gps-545591874736358560 .gp-flex-col{flex-direction:column}.gps-545591874736358560 .gp-items-center{align-items:center}.gps-545591874736358560 .gp-justify-center{justify-content:center}.gps-545591874736358560 .gp-gap-y-0{row-gap:0}.gps-545591874736358560 .gp-overflow-hidden{overflow:hidden}.gps-545591874736358560 .gp-break-words{overflow-wrap:break-word}.gps-545591874736358560 .gp-rounded-none{border-radius:0}.gps-545591874736358560 .gp-text-center{text-align:center}.gps-545591874736358560 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-545591874736358560 .gp-no-underline{text-decoration-line:none}.gps-545591874736358560 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545591874736358560 .gp-duration-200{transition-duration:.2s}.gps-545591874736358560 .gp-duration-300{transition-duration:.3s}.gps-545591874736358560 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545591874736358560 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-545591874736358560 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-545591874736358560 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-545591874736358560 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-545591874736358560 .tablet\:\!gp-hidden{display:none!important}.gps-545591874736358560 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545591874736358560 .mobile\:\!gp-hidden{display:none!important}.gps-545591874736358560 .mobile\:gp-hidden{display:none}}.gps-545591874736358560 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545591874736358560 .\[\&_p\]\:gp-inline p{display:inline}.gps-545591874736358560 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-545591874736358560 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545591874736358560 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gJh2fZxx4Y" data-id="gJh2fZxx4Y"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pb:var(undefined);--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F17F41;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJh2fZxx4Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gih-FIbs2p gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="geM1MdhwYZ" data-id="geM1MdhwYZ"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pl:0px;--pr:0px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geM1MdhwYZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g--VQNT3o3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEK7b70AoJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gEK7b70AoJ "
        style="--tt:uppercase;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEK7b70AoJ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guu3ROCurL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guu3ROCurL "
        style="--tt:default;--ta:left;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguu3ROCurL_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJGbtqqBe9">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJGbtqqBe9 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        ></div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(undefined);--ta:left"
    
  >
    <style>
    .gI2SkIm7Qi.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gI2SkIm7Qi:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  
      
    }

    .gI2SkIm7Qi:hover .gp-button-icon {
      color: #ffffff;
    }

     .gI2SkIm7Qi .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gI2SkIm7Qi:hover .gp-button-price {
      color: #ffffff;
    }

    .gI2SkIm7Qi .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gI2SkIm7Qi .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gI2SkIm7Qi:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.blissecoclean.nl/products/bliss-wasstrips" target="_self" data-id="gI2SkIm7Qi" aria-label="<p>BESTEL NU</p>"
      
      data-state="idle"
      class="gI2SkIm7Qi gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:72px;--pr:72px;--pt:12px;--pb:12px;--pl-tablet:72px;--pr-tablet:72px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:72px;--pr-mobile:72px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#ffffff;--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggI2SkIm7Qi_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdNVrbhsM2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gaPFQGSc8m"
    role="presentation"
    class="gp-group/image gaPFQGSc8m"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_490315532138971916-9f754e03-2cd4-42fa-8c9c-bf4724b3b63e_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTEzMzMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTMzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiBmaWxsPSJ1cmwoI2ctMjAwMC0xMzMzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_490315532138971916-9f754e03-2cd4-42fa-8c9c-bf4724b3b63e_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTEzMzMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTMzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiBmaWxsPSJ1cmwoI2ctMjAwMC0xMzMzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTEzMzMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTMzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzMzIiBmaWxsPSJ1cmwoI2ctMjAwMC0xMzMzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_490315532138971916-9f754e03-2cd4-42fa-8c9c-bf4724b3b63e.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-545591874736358560 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0d5049-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=545591865425003379&sectionId=545591874736358560)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEK7b70AoJ_text","label":"ggEK7b70AoJ_text","default":"NIEUWE COLLECTIE"},{"type":"html","id":"gguu3ROCurL_text","label":"gguu3ROCurL_text","default":"MILIEU VRIENDELIJKE WASSTRIPS"},{"type":"html","id":"ggI2SkIm7Qi_label","label":"ggI2SkIm7Qi_label","default":"<p>BESTEL NU</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
