

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538290888770585386.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538290888770585386.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538290888770585386.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538290888770585386.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538290888770585386.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538290888770585386.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538290888770585386.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538290888770585386.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538290888770585386.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538290888770585386.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538290888770585386.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538290888770585386.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538290888770585386.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538290888770585386.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538290888770585386.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538290888770585386.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538290888770585386.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538290888770585386.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538290888770585386.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538290888770585386.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538290888770585386.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538290888770585386.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538290888770585386.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538290888770585386.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538290888770585386.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538290888770585386.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538290888770585386.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538290888770585386.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538290888770585386.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538290888770585386.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538290888770585386.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538290888770585386.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538290888770585386.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538290888770585386.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538290888770585386.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538290888770585386.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538290888770585386.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538290888770585386.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538290888770585386.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538290888770585386.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538290888770585386.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538290888770585386.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538290888770585386.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538290888770585386.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-538290888770585386.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538290888770585386.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538290888770585386.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538290888770585386.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538290888770585386.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538290888770585386.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538290888770585386.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538290888770585386.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538290888770585386.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538290888770585386.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538290888770585386.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538290888770585386.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538290888770585386.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538290888770585386.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538290888770585386.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538290888770585386.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538290888770585386.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538290888770585386.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538290888770585386.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538290888770585386 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538290888770585386 .gp-relative{position:relative}.gps-538290888770585386 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538290888770585386 .gp-mb-0{margin-bottom:0}.gps-538290888770585386 .gp-flex{display:flex}.gps-538290888770585386 .gp-grid{display:grid}.gps-538290888770585386 .gp-contents{display:contents}.gps-538290888770585386 .\!gp-hidden{display:none!important}.gps-538290888770585386 .gp-hidden{display:none}.gps-538290888770585386 .gp-h-full{height:100%}.gps-538290888770585386 .gp-w-full{width:100%}.gps-538290888770585386 .gp-max-w-full{max-width:100%}.gps-538290888770585386 .gp-flex-col{flex-direction:column}.gps-538290888770585386 .gp-gap-y-0{row-gap:0}.gps-538290888770585386 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538290888770585386 .gp-duration-200{transition-duration:.2s}.gps-538290888770585386 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538290888770585386 .tablet\:\!gp-hidden{display:none!important}.gps-538290888770585386 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538290888770585386 .mobile\:\!gp-hidden{display:none!important}.gps-538290888770585386 .mobile\:gp-hidden{display:none}}.gps-538290888770585386 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538290888770585386 .\[\&_p\]\:gp-inline p{display:inline}.gps-538290888770585386 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538290888770585386 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gsTwphsdZQ" data-id="gsTwphsdZQ"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:auto;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsTwphsdZQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEJ_uQRE51 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQN42F9LTm" data-id="gQN42F9LTm"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:var(--g-s-2xl);--pl:var(--g-s-3xl);--pb:var(--g-s-2xl);--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--mb-tablet:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-xl);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQN42F9LTm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPudCWrLeO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_jTf9w9US" data-id="g_jTf9w9US"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_jTf9w9US gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gaJlt3dEZ0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_QXGa2nGw"
    role="presentation"
    class="gp-group/image g_QXGa2nGw"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_490315532138971916-a6e8b658-3034-4afc-affa-4bc488e9de34_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTQwMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_490315532138971916-a6e8b658-3034-4afc-affa-4bc488e9de34_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTQwMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTQwMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_490315532138971916-a6e8b658-3034-4afc-affa-4bc488e9de34.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKJvZnPQmk gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g_HfqPWUVI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_HfqPWUVI "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_HfqPWUVI_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsfBCHoiv_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0aJq205Ii" data-id="g0aJq205Ii"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0aJq205Ii gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT1uftF-5D gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gFhHcW1gnM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFhHcW1gnM "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggFhHcW1gnM_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gzN9_SavI3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzN9_SavI3 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzN9_SavI3_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8M8mTVhqD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gJ33aFJJD0">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJ33aFJJD0 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJ33aFJJD0_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g3GqG5MPip">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3GqG5MPip "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3GqG5MPip_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2M2KkGGjp gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="giVKsNDj_4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="giVKsNDj_4 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggiVKsNDj_4_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gtaZPwjcXk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtaZPwjcXk "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtaZPwjcXk_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-538290888770585386 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0d5049-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538290872043701034&sectionId=538290888770585386)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_HfqPWUVI_text","label":"gg_HfqPWUVI_text","default":"Blij met een schone was, blijer met een schone planeet"},{"type":"html","id":"ggFhHcW1gnM_text","label":"ggFhHcW1gnM_text","default":"2000+"},{"type":"html","id":"ggzN9_SavI3_text","label":"ggzN9_SavI3_text","default":"<p>Minder plastic flessen gebruikt</p>"},{"type":"html","id":"ggJ33aFJJD0_text","label":"ggJ33aFJJD0_text","default":"<p>3.2K+</p>"},{"type":"html","id":"gg3GqG5MPip_text","label":"gg3GqG5MPip_text","default":"<p>Tevreden klanten</p>"},{"type":"html","id":"ggiVKsNDj_4_text","label":"ggiVKsNDj_4_text","default":"8+"},{"type":"html","id":"ggtaZPwjcXk_text","label":"ggtaZPwjcXk_text","default":"<p>Duurzaamheids certificaten&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
